@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(../images/background.jpg) no-repeat fixed center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  overflow-y: scroll;
}

#header, #content-wrapper, #footer {
  background-color: #ffffff;
  margin: 0 auto;
}

#header {
  background-color: #ffffff;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid gray;
  padding: 5px 25px;
  position: relative;

  a {
    text-decoration: none;
  }
  .group-logo {
    height: 90px;
    width: 246px;
    background-image: url("../images/group-logo.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 247px;
    position: absolute;
    bottom: 14px;
    z-index: 25;
  }
  @media (min-device-width: 735px) {
    ul.nav {
      list-style-type: none;
      position: absolute;
      padding: 0;
      margin: 0;
      bottom: 0;
      left: 25px;
      right: 25px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      > a {
        display: none;
      }

      > li {
        flex-grow: 0;
      }

      li {
        &:hover > a {
          background-color: #eeeeee;
        }
        &.parent {
          > ul {
            list-style-type: none;
            position: absolute;
            padding: 0;
            margin: 0;
            top: 41px;
            left: 0;
            border: 1px solid gray;
            display: none;
            background: white;
            z-index: 10;

            > li {
              position: relative;
              > a {
                padding: 0 30px 0 15px;
                line-height: 40px;
                display: block;
                white-space: nowrap;
              }
              &.parent:hover > a::before {
                content: "";
                position: absolute;
                right: -1px;
                width: 1px;
                height: 40px;
                background-color: #eeeeee;
                z-index: 20;
              }
              &.parent > a::after {
                content: "\00BB";
                position: absolute;
                line-height: 40px;
                top: 0;
                right: 15px;
              }
              &.parent > ul {
                top: -1px;
                left: 100%;
                background: white;
              }
            }
          }
          &:hover > ul {
            display: block;
          }
        }
      }
      > li {
        height: auto;
        float: left;
        position: relative;
        a, a:visited {
          line-height: 40px;
          padding: 0 15px;
          text-decoration: none;
          color: rgb(0, 0, 238);
          display: inline-block;
        }
        > a {
          border-radius: 10px 10px 0 0;
          border: 1px solid white;
          border-bottom: 0;
        }
        &:hover > a, > a.selected {
          background-color: white;
          border-color: gray;
        }
        > a.selected {
          &::after {
            content: "";
            position: absolute;
            left: 1px;
            right: 1px;
            bottom: -1px;
            height: 1px;
            background-color: white;
          }
        }
      }
      > li.parent:hover::after {
        content: "";
        height: 1px;
        background-color: white;
        position: absolute;
        bottom: -1px;
        right: 1px;
        left: 1px;
        z-index: 10;
      }
      ul > li.parent:hover::after {
        content: "";
        width: 1px;
        background-color: #eeeeee;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
      }
    }
  }
}

#content-wrapper {
  padding: 25px;

  .main-content {
    float: left;
    padding: 10px;

    .post {
      margin-bottom: 50px;
      text-align: center;

      .top {
        height: 40px;
        display: flex;
        flex-direction: row;
      }
      .title {
        font-size: 2em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-grow: 1;
        line-height: 40px;
        text-align: left;
      }
      .date {
        line-height: 40px;
        color: #545454;
        bottom: 5px;
        flex-grow: 0;
        white-space: nowrap;
        margin-left: 10px;
      }
      .photo {
        img {
          width: 100%;
          max-width: 590px;
        }
      }
      .description {
        margin-top: 10px;
        text-align: left;
      }
    }
    .load-more {
      text-decoration: none;
      display: block;
      cursor: pointer;

      &::after {
        content: "Load More Posts";
        line-height: 80px;
        font-weight: bolder;
        font-size: 20px;
        color: black;
        display: block;
        text-align: center;
      }
      &:hover::after {
        background: #eeeeee;
      }
    }
  }
  .right-side {
    float: right;
    padding: 10px;

    .widget {
      .title {
        font-size: 1.5em;
      }
      .events {
        padding: 0;
        margin: 0;

        .item {
          list-style-type: none;
          border-bottom: 1px solid #ccc;
          padding: 12px 0;

          &:last-child {
            border-bottom: 0;
          }
          > a {
            color: #BF9608;
            text-decoration: none;
            background-repeat: no-repeat;
            background-position: 0 9px;
            padding: 3px 0 3px 15px;
            margin: 0 20px 0 5px;
            background-image: url(../images/plus.png);
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;

            &.day {
              color: #4DB810;
            }
            &:hover {
              text-decoration: underline;
            }
            &.open {
              background-image: url(../images/minus.png);
              white-space: normal;
            }
          }
          div {
            padding-left: 20px;

            b {
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
  .leaders {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .leader {
      min-width: 200px;
      flex-grow: 0;
      text-align: center;
      margin: 15px;

      .name {
        font-size: 20pt;
        font-weight: bold;
      }
      img {
        width: 150px;
        height: 225px;
        //background: url(../images/heads/generic.jpg) no-repeat center;
        //background-size: contain;
        margin: 0 auto;
      }
      .section {
        font-size: 12pt;
      }
    }
  }
}

#footer {
  border-top: 1px solid gray;
  padding: 15px 25px;
}

@media (min-device-width: 1000px) {
  #header, #content-wrapper, #footer {
    width: 90%;
    max-width: 1300px;
    min-width: 960px;
  }
  #header {
    height: 80px;
    margin-top: 70px;

    .group-logo {
      bottom: 14px;
    }
    ul.nav {
      justify-content: flex-end;
    }
  }
  #content-wrapper {
    .main-content {
      width: 66.6%;
    }
    .right-side {
      width: 33.3%;
    }
  }

}

@media (min-device-width: 635px) and (max-device-width: 1000px) {
  #header, #content-wrapper, #footer {
    width: 98%;
  }
  #header {
    height: 110px;
    margin-top: 40px;

    .group-logo {
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
    ul.nav {
      justify-content: center;
      width: 95%;

      li {
        white-space: nowrap;
        a {

          text-overflow: clip;
        }
      }
    }
  }

  #content-wrapper {
    .main-content, .right-side {
      width: 100%;
    }
  }
}

@media (max-device-width: 635px) {
  #header, #content-wrapper, #footer {
    width: 100%;
  }

  #header {
    height: 110px;
    margin-top: 40px;

    .group-logo {
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
    }

  }

  #content-wrapper {
    .main-content, .right-side {
      width: 100%;
    }
    .main-content {
      .post {
      }
      .load-more {
        margin-top: -20px;
      }
    }
  }
}

@media (max-device-width: 734px) {
  #header {
    padding-left: 0;
    padding-right: 0;

    ul.nav {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-top: 64px;
      position: relative;
      border-bottom: 1px solid gray;

      //> a {
      //  line-height: 40px;
      //  display: block;
      //  padding: 0 25px;
      //  color: #0000ee;
      //}

      &::before {
        content: "Menu";
        line-height: 40px;
        display: block;
        padding: 0 25px;
        color: #0000ee;
      }

      &.open {
        &::before {
          border-bottom: 1px solid gray;
        }
        > li {
          display: block;
        }
      }

      li {
        list-style-type: none;
        background: white;

        > a:visited, a:active {
          color: #0000ee;
        }
        > a {
          display: block;
          line-height: 40px;
          text-overflow: clip;
          padding: 0 25px;
        }
        &:not(:first-child) > a {
          border-top: 1px solid gray;
        }
        &.parent {
          &.open {
            > a {
              border-bottom: 1px solid gray;
            }
            > ul {
              display: block;
            }
          }
          > ul {
            margin: 0;
            padding-left: 25px;
            display: none;

            > li > a {
              border-left: 1px solid gray;
            }
          }
        }
      }

      > li {
        display: none;
      }
    }
  }
}