@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url(../images/background.jpg) no-repeat fixed center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
  overflow-y: scroll; }

#header, #content-wrapper, #footer {
  background-color: #ffffff;
  margin: 0 auto; }

#header {
  background-color: #ffffff;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid gray;
  padding: 5px 25px;
  position: relative; }
  #header a {
    text-decoration: none; }
  #header .group-logo {
    height: 95px;
    width: 246px;
    background: url("../images/group-logo.png") no-repeat bottom;
    background-size: 247px;
    position: absolute;
    bottom: 10px;
    z-index: 25; }

#content-wrapper {
  display: flex;
  padding: 25px; }
  #content-wrapper .block {
    margin-bottom: 30px;
    display: block; }
    #content-wrapper .block .head {
      height: 40px;
      display: flex;
      flex-direction: row; }
    #content-wrapper .block .title {
      font-size: 2em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex-grow: 1;
      line-height: 40px;
      text-align: left; }
    #content-wrapper .block .date {
      line-height: 40px;
      color: #545454;
      bottom: 5px;
      flex-grow: 0;
      white-space: nowrap;
      margin-left: 10px; }
    #content-wrapper .block .photo {
      margin-bottom: 10px; }
      #content-wrapper .block .photo img {
        width: 100%;
        max-width: 590px; }
  #content-wrapper .load-more {
    text-decoration: none;
    display: block;
    cursor: pointer; }
    #content-wrapper .load-more::after {
      content: "More";
      line-height: 80px;
      font-weight: bolder;
      font-size: 20px;
      color: black;
      display: block;
      text-align: center; }
    #content-wrapper .load-more:hover::after {
      background: #eeeeee; }
  #content-wrapper .left-side {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column; }
  #content-wrapper .right-side {
    padding-left: 10px; }

@media (min-width: 1050px) {
  #header, #content-wrapper, #footer {
    width: 90%;
    max-width: 1400px;
    min-width: 1025px; }

  #header {
    height: 80px;
    margin-top: 50px; } }
@media (min-width: 635px) {
  #content-wrapper {
    display: flex;
    flex-direction: row-reverse; }
    #content-wrapper .left-side {
      width: 66.6%;
      flex-grow: 1;
      padding-right: 10px; }
    #content-wrapper .right-side {
      width: 33.3%;
      max-width: 350px;
      flex-grow: 0; } }
@media (min-width: 760px) and (max-width: 1050px) {
  #header, #content-wrapper, #footer {
    width: 98%; }

  #header {
    height: 110px;
    margin-top: 40px; }
    #header .group-logo {
      top: -25px;
      left: 50%;
      transform: translateX(-50%); } }
@media (max-width: 635px) {
  #header, #content-wrapper, #footer {
    width: 100%; }

  #content-wrapper {
    flex-direction: column; }
    #content-wrapper .left-side .load-more {
      margin-top: -20px; } }
@media (max-width: 759px) {
  body {
    background-image: none; }

  #header {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    height: 100px; }
    #header .group-logo {
      left: 5px;
      bottom: 0; } }
/* ********** START NAV STYLES ********** */
#header menu-group {
  display: flex; }
  #header menu-group > menu-item {
    position: relative;
    background-color: white;
    white-space: nowrap; }
    #header menu-group > menu-item > a, #header menu-group > menu-item > a:visited {
      line-height: 40px;
      padding: 0 15px;
      text-decoration: none;
      color: #0000ee;
      cursor: pointer; }
@media (min-width: 760px) {
  #header menu-group {
    position: absolute;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    flex-direction: column; }
    #header menu-group:not(.child) {
      bottom: 0;
      right: 25px;
      flex-direction: row; }
    #header menu-group > menu-item {
      display: inline-block; }
      #header menu-group > menu-item > a, #header menu-group > menu-item > a:visited {
        display: inline-block;
        border-radius: 10px 10px 0 0;
        border: 1px solid white;
        border-bottom-width: 0; }
      #header menu-group > menu-item.selected a, #header menu-group > menu-item:hover a {
        border-color: gray; }
      #header menu-group > menu-item.selected::after, #header menu-group > menu-item.parent:hover::after {
        content: "";
        height: 1px;
        background-color: white;
        position: absolute;
        bottom: -1px;
        left: 1px;
        right: 1px; }
      #header menu-group > menu-item > menu-group {
        display: none;
        border: 1px solid gray; }
        #header menu-group > menu-item > menu-group > menu-item.parent > a::after {
          content: "\00BB";
          position: absolute;
          line-height: 40px;
          top: 0;
          right: 15px; }
        #header menu-group > menu-item > menu-group > menu-item:hover > a {
          background-color: #eee; }
        #header menu-group > menu-item > menu-group > menu-item:hover > menu-group > :first-child::before {
          content: "";
          width: 1px;
          background-color: #eeeeee;
          position: absolute;
          top: 0;
          bottom: 0;
          left: -1px; }
        #header menu-group > menu-item > menu-group > menu-item > a {
          display: block;
          padding: 0 30px 0 15px;
          border-radius: 0;
          border: 0; }
        #header menu-group > menu-item > menu-group > menu-item > menu-group {
          top: 0;
          left: 100%; }
      #header menu-group > menu-item:hover > menu-group {
        display: flex; } }
@media (min-width: 760px) and (max-width: 1050px) {
  #header menu-group:not(.child) {
    justify-content: center;
    left: 0;
    right: 0; }
    #header menu-group:not(.child) menu-item {
      white-space: nowrap; }
      #header menu-group:not(.child) menu-item a {
        text-overflow: clip; } }
@media (max-width: 759px) {
  #header menu-group {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
    transition: height 0.5s;
    z-index: 50; }
    #header menu-group:not(.child) {
      position: absolute;
      right: 30px;
      top: 80px;
      display: block;
      border: 1px solid transparent;
      overflow: initial; }
      #header menu-group:not(.child).open {
        border-color: gray; }
      #header menu-group:not(.child):not(.open) > * {
        display: none; }
      #header menu-group:not(.child)::before {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        right: -1px;
        top: -51px;
        background: #eee url(../images/menu-icon.svg) no-repeat center;
        background-size: 25px;
        border: 1px solid gray; }
    #header menu-group > menu-item > a {
      display: block;
      line-height: 40px;
      padding: 0 15px; }
    #header menu-group > menu-item:not(:last-child) > a {
      border-bottom: 1px solid gray; }
    #header menu-group > menu-item > menu-group {
      margin-left: 20px;
      border-left: 1px solid gray; }
    #header menu-group > menu-item.parent > a::after {
      content: "\25BC";
      position: absolute;
      line-height: 40px;
      top: 0;
      right: 15px; }
    #header menu-group.open, #header menu-group > menu-item.open > menu-group {
      height: auto; }
      #header menu-group.open:not(.child), #header menu-group > menu-item.open > menu-group:not(.child) {
        display: flex; }
    #header menu-group > menu-item.open + menu-item {
      border-top: 1px solid gray; } }

/* ********** START MUGSHOT STYLES ********** */
mugshot-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  mugshot-group mugshot-item {
    min-width: 200px;
    flex-grow: 0;
    text-align: center;
    margin: 15px; }
    mugshot-group mugshot-item .name {
      font-size: 20pt;
      font-weight: bold; }
    mugshot-group mugshot-item img {
      width: 150px;
      height: 225px;
      margin: 0 auto; }
    mugshot-group mugshot-item .section {
      font-size: 12pt; }

/* ********** START EVENT STYLES ********** */
@keyframes refresh-icon {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(-180deg); } }
.block .head .refresh-events {
  position: relative; }
  .block .head .refresh-events::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.5em;
    width: 1.5em;
    background-image: url(../images/refresh-icon.svg);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .block .head .refresh-events.loading::before {
    animation-name: refresh-icon;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    cursor: wait; }

event-group {
  padding: 0;
  margin: 0; }
  event-group event-item {
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
    display: block; }
    event-group event-item:last-child {
      border-bottom: 0; }
    event-group event-item > a {
      color: #00ADD8;
      text-decoration: none;
      padding: 3px 0 3px 15px;
      margin: 0 20px 0 5px;
      background: url(../images/plus.png) no-repeat 0 9px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block; }
      event-group event-item > a:hover:not(.holiday) {
        text-decoration: underline; }
      event-group event-item > a.open {
        background-image: url(../images/minus.png);
        white-space: normal; }
      event-group event-item > a.day {
        color: #4DB810; }
      event-group event-item > a.holiday {
        color: #C600D8;
        cursor: default;
        background-image: none; }
    event-group event-item .detail-container {
      padding-left: 20px; }
    event-group event-item event-detail {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block; }
      event-group event-item event-detail b {
        text-transform: capitalize; }

/* ********** START FOOTER STYLES ********** */
#footer {
  border-top: 1px solid gray;
  padding: 15px 25px; }

/* ********** START HELPER STYLES ********** */
.left-align {
  text-align: left !important; }

.center-align {
  text-align: center !important; }

/*# sourceMappingURL=style.css.map */
