* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}

.header {
    width: 960px;
    height: 80px;
    background-color: #ffffff;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid gray;
    margin: 100px auto 0 auto;
    padding: 5px 25px;
    position: relative;
}

.header .logo {
    height: 144px;
    width: 180px;
    background-image: url(//www.scouts.ca/brandcentre/resources/logo/scouts-logo-notagline-web.png);
    background-repeat: no-repeat;
    background-size: 180px;
    position: absolute;
    bottom: 0;
}

.header .title {
    font-weight: normal;
    font-size: 2em;
    margin-left: 180px;
    margin-top: 15px;
    color: red;
    text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
    float: left;
}

.header ul.nav {
    list-style-image: none;
    float: right;
    position: absolute;
    padding: 0;
    margin: 10px 0;
    bottom: 0;
    right: 25px;
}

.header ul.nav li {
    list-style-image: none;
    height: auto;
    float: left;
}

.header ul.nav li a {
    height: 20px !important;
    padding: 12px 20px;
    text-decoration: none;
}

.header ul.nav li a:hover {
    background: -webkit-radial-gradient(50% 100%, farthest-side, #ddd, white); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(50% 100%, farthest-side, #ddd, white); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(50% 100%, farthest-side, #ddd, white); /* For Firefox 3.6 to 15 */
    background: radial-gradient(50% 100%, farthest-side, #ddd, white); /* Standard syntax (must be last) */
}

.content-wrapper {
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 25px;
    min-height: 90%;
}

.content-wrapper .main-content {
    width: 610px;
    float: left;
    padding: 10px;
}

.content-wrapper .main-content .post {
    margin-bottom: 50px;
}

.content-wrapper .main-content .post .title {
    font-size: 2em;
    margin-bottom: 10px;
}

.content-wrapper .main-content .post .photo {
    width: 590px;
    height: 332px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.content-wrapper .main-content .post .photo.loading {
    height: 11px;
    background-size: contain;
    background-image: url(../images/fbloading.gif);
}

.content-wrapper .main-content .post .words {
    margin-top: 10px;
}

.content-wrapper .main-content .post > a.read-more::before {
    content: "Read More »";
    float: right;
    color: red;
    text-decoration: underline;
}

.content-wrapper .right-side {
    width: 300px;
    float: right;
    padding: 10px;
}

.album-wrapper .item {
    width: 162px;
    margin: 15px;
    border: 10px solid white;
    box-shadow: 4px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 4px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 4px 2px 6px rgba(0,0,0, 0.5);
}