<div class="main-content">
    <div class="post">
        <div class="description">
            Both boys and girls are welcome to come and join our program.<br><br>
            <div>
                <h3>Time of regular meetings:</h3>
                Saturdays 2:30pm to 4:00pm (Beaver Section)<br>
                Saturdays 2:30pm to 4:30pm (All Other Sections)<br><br>

                <h3>Section Structure</h3>
                <table>
                    <tr><td>Beavers</td><td>:</td><td>5 - 7 Years old</td></tr>
                    <tr><td>Cubs</td><td>:</td><td>8 - 10 Years old</td></tr>
                    <tr><td>Scouts</td><td>:</td><td>11 - 14 Years old</td></tr>
                    <tr><td>Ventures</td><td>:</td><td>14 - 17 Years old</td></tr>
                    <tr><td>Rovers</td><td>:</td><td>18 - 26 Years old</td></tr>
                </table><br><br>

                <h3>Contact Information</h3>
                <table border="0">
                    <tr><td>Group Chair</td><td>:</td><td>Arthur Li</td><td>(<a href="mailto:sikwing@hotmail.com">sikwing@hotmail.com</a>)</td></tr>
                    <tr><td>Group Commissioner</td><td>:</td><td>Jackson Li</td><td>(<a href="mailto:jackson.li@pccrovers.com">jackson.li@pccrovers.com</a>)</td></tr>
                    <tr><td>Group Registrar</td><td>:</td><td>Lilian Chu</td><td>(<a href="mailto:lc3190@gmail.com">lc3190@gmail.com</a>)</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>Beaver Leader</td><td>:</td><td>Rita Ho</td><td>(<a href="mailto:rhritaho@gmail.com">rhritaho@gmail.com</a>)</td></tr>
                    <tr><td>Cub Leader</td><td>:</td><td>Robin Tsui</td><td>(<a href="mailto:robin.tsui@scout138.com">robin.tsui@scout138.com</a>)</td></tr>
                    <tr><td>Scout Leader</td><td>:</td><td>Karen Wong</td><td>(<a href="mailto:karenwong138th@gmail.com">karenwong138th@gmail.com</a>)</td></tr>
                    <tr><td>Venturer Leader</td><td>:</td><td>Lawrence Lai</td><td>(<a href="mailto:lawrence.lai@scout138.com">lawrence.lai@scout138.com</a>)</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="right-side">
    <h3>Location:</h3>
    <a href="http://vancouver.ca/parks-recreation-culture/hastings-community-centre.aspx">Hasting Community Center</a><br>
    3096 East Hastings Street, Vancouver B.C. V5K 2A3<br><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.760038484288!2d-123.039476!3d49.280943999999906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548670d8c9600697%3A0x599eb46a5ddd6a8c!2sHastings+Community+Centre!5e0!3m2!1sen!2sca!4v1410126536655" width="100%" height="300" frameborder="0" style="border:0"></iframe>
</div>
<div style="clear: both;"></div>