<div class="content-wrapper">
    <div class="main-content">
        <div class="post">
            <div class="top">
                <div class="title">Registration</div>
            </div>
            <div class="description">
                <table style="text-align: center; width: 100%">
                    <thead style="text-decoration: underline; ">
                    <tr>
                        <td></td>
                        <td>Scouts Canada</td>
                        <td>Group Fee</td>
                        <td>Total</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td align="left">Before June 30, 2015</td>
                        <td>$175</td>
                        <td>Waived</td>
                        <td>$175</td>
                    </tr>
                    <tr>
                        <td align="left">After June 30, 2015</td>
                        <td>$190</td>
                        <td>$20</td>
                        <td>$210</td>
                    </tr>
                    <tr>
                        <td align="left">After Jan 30, 2016</td>
                        <td>$150</td>
                        <td>$10</td>
                        <td>$160</td>
                    </tr>
                    <tr>
                        <td align="left">After May 30, 2016</td>
                        <td>$45</td>
                        <td>$5</td>
                        <td>$50</td>
                    </tr>
                    </tbody>
                </table>
                <sub>*Cheques to be written to "138th East Vancouver Scout Group"</sub><br>
                <sub>**Cheques and registration forms can be given to the leader of your section</sub><br>
                <sub>&dagger;Camps & outings are separate, price varies by outing</sub>
            </div>
        </div>
        <div class="post">
            <div class="top">
                <div class="title">Uniform Requirements<small style="font-size: 0.5em; margin-left: 10px;">(<a href="//files.scout138.com/scouts-uniform-brochure.pdf">brochure</a>)</small></div>
            </div>
            <div class="description">
                <table style="text-align: left; width: 100%">
                    <thead style="text-decoration: underline; ">
                    <tr>
                        <td>Section</td>
                        <td>Articles Required</td>
                        <td>Total Cost (tax not incl.)</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Beavers</td>
                        <td>Beaver Hat + Beaver Vest</td>
                        <td>$29.98</td>
                    </tr>
                    <tr>
                        <td>Cubs</td>
                        <td>Gray Cub Polo + Navy Active Pants</td>
                        <td>$51.98</td>
                    </tr>
                    <tr>
                        <td>Scouts</td>
                        <td>Green Scout Shirt + Tan Pants</td>
                        <td>$53.98 - 59.98</td>
                    </tr>
                    <tr>
                        <td>Venturers</td>
                        <td>Navy Scout Shirt + Leather Belt + Tan Pants</td>
                        <td>$89.97 - 95.97</td>
                    </tr>
                    </tbody>
                </table>
                <sub>*Uniform can only be purchased at Scout House Canada (<a href="https://www.google.ca/maps/place/Scouts+Canada,+664+Broadway+W,+Vancouver,+BC+V5Z/">664 Broadway W Vancouver, BC</a>)</sub><br>
                <sub>**Please make sure to call in (604-879-5721) before to make sure they have uniform in stock as they tend to sell out once in awhile.</sub>
            </div>
        </div>
        <div class="post">
            <div class="top">
                <div class="title">Additional Uniform Pieces</small></div>
            </div>
            <div class="description">
                <table style="text-align: left; width: 100%">
                    <thead style="text-decoration: underline; ">
                    <tr>
                        <td>Piece</td>
                        <td>Sections Required</td>
                        <td>Total Cost</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Group Neckerchief</td>
                        <td>All Sections</td>
                        <td>$15.00 (first free)</td>
                    </tr>
                    <tr>
                        <td>Woggle</td>
                        <td>All Sections</td>
                        <td>$2.00 (first free)</td>
                    </tr>
                    <tr>
                        <td>Group Insignia</td>
                        <td>Scouts, Venturers</td>
                        <td>$2.00</td>
                    </tr>
                    <tr>
                        <td>Area Insignia</td>
                        <td>Scouts, Venturers</td>
                        <td>$2.00</td>
                    </tr>
                    <tr>
                        <td>Council Insignia</td>
                        <td>Scouts, Venturers</td>
                        <td>$2.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="widget">
            <div class="title">
                Download Forms
            </div>
            <a href="http://files.scout138.com/participant-registration-form-2015.pdf">Participant Registration Form</a><br>
            <a href="http://files.scout138.com/volunteer-registration-form-2014.pdf">Volunteer Registration Form</a>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
