RewriteEngine On
RewriteRule ^([a-zA-Z]+)$ ./?page=$1 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ ./?page=$1&sub=$2 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z]+)$ ./?page=$1&sub=$2&part=$3 [L]

ErrorDocument 404 ./?page=404