* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    display: table;
}
a:link {
    color: #3366FF;
    text-decoration: none;
}
a:visited {
    color: #3366FF;
    text-decoration: none;
}
a:hover {
    color: #000066;
}
a:active {
    color: #000066;
}
#loginContainer {
	position: fixed;
 	top: 45%;
 	left: 50%;
 	margin-top: -50px;
 	margin-left: -100px;
}

#structure {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#header {
    height: 64px;
    background-color: #323232;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#title::after {
    font-size: 2em;
    line-height: 64px;
    color: #efefef;
    content: "138th Scout Group Control Panel";
    padding-left: 64px;
    background-repeat: no-repeat;
    background-size: 48px;
    background-position: 8px center;
    background-image: url('../images/maple-leaf-fleur-de-lis.svg');
    display: inline-block;
}

#menu {
    position:absolute;
    background-color: #323232;
    z-index: 1000000;
    width: 52px;
    top: 64px;
    left: 0;
    bottom: 0;
    -webkit-transition: width 400ms 0 ease;
    -moz-transition: width 400ms 0 ease;
    -o-transition: width 400ms 0 ease;
    transition: width 400ms 0 ease;
}
#menu:hover {
    -webkit-transition: width 400ms 500ms ease;
    -moz-transition: width 400ms 500ms ease;
    -o-transition: width 400ms 500ms ease;
    transition: width 400ms 500ms ease;
    width: 200px;
}
#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
#menu li {
    font-size: 1.5em;
    white-space: nowrap;
    overflow-x: hidden;
}
#menu li a {
    -webkit-transition: color 200ms ease, background-color 200ms ease;
    -moz-transition: color 200ms ease, background-color 200ms ease;
    -o-transition: color 200ms ease, background-color 200ms ease;
    transition: color 200ms ease, background-color 200ms ease;
    line-height: 52px;
    color: #adadad;
    padding-right: 20px;
    display: block;
    background-size: 32px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 52px;
}
#menu li a:hover {
    color: #efefef;
    background-color: #545454;
}
#menu li#nav-create a {
    background-image: url('../images/plus.svg');
}
#menu li#nav-edit a {
    background-image: url('../images/pencil.svg');
}
#menu li#nav-calendar a {
    background-image: url('../images/calendar.svg');
}
#menu li#nav-logout a {
    background-image: url('../images/logout.svg');
}

#content {
    position:absolute;
    left: 52px;
    top: 64px;
    right: 0;
    bottom: 0;
}
.scroll-wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.page {
    width: 100%;
    min-height: 100%;
    padding: 0 20px 10px 20px;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
}
.multi.page {
    padding: 0;
    height: 100%;
}

.multi.page .slide {
    width: 100%;
    height: 100%;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    position: absolute;
    overflow-y: auto;
    display: none;
}

#post-list tr:not(:first-child):hover {
    background-color: #eeeeee;
}

#pagination a {
	border-style: solid;
	border-width:1px;
	border-color: blue;
	padding: 4px;
}

#spinner {
    width: 90px;
    height: 90px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    margin-left: -45px;
    z-index: 999999999;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}


/* fb album picker stuff */
#album-selector {
    width: 750px;
}

#album-selector #masonr {
    width: 750px;
}

#album-selector .item img {
    margin-bottom: 5px;
}

#album-selector .item img {
    margin-bottom: 5px;
}

#album-selector .item {
    width: 140px;
    padding: 5px;
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    cursor: pointer;
}

#album-selector .item:hover {
    background-color: lightskyblue;
}