body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}
#loginContainer {
	position: fixed;
 	top: 45%;
 	left: 50%;
 	margin-top: -50px;
 	margin-left: -100px;
}
#logo {
    height: 144px;
    width: 180px;
	float: left;
}
#header {
	position:fixed;
	height: 153px;
	width: 100%;
	z-index: 999;
    background-color: white;
}
#title {
    position: absolute;
    left: 180px;
    bottom: 15px;
    font-weight: normal;
    font-size: 2em;
    color: red;
    text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
}
#menu {
	position: fixed;
	top: 153px;
	height: 100%;
	width: 15%;
	float:left;
	border-right-style: solid;
	border-width: 1px;
}
#content {
	position: relative;
	top: 153px;
	width: 80%;
	float: right;
	margin-top: 25px;
}
#menuItems {
	list-style-type: none;
	padding-top: 25px;
	font-size: 1.5em;
}
a:link {
	color: #3366FF;
	text-decoration: none;
}
a:visited {
	color: #3366FF;
	text-decoration: none;
}
a:hover {
	color: #000066;
}
a:active {
	color: #000066;
}
#edit {
	display: none;
}
#calender {
	display: none;
}
#error {
	color: red;
}
#pagination a {
	border-style: solid;
	border-width:1px;
	border-color: blue;
	padding: 4px;
}

#spinner {
    width: 90px;
    height: 90px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    margin-left: -45px;
    z-index: 999999999;
    background: white;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}


/* fb album picker stuff */
#album-selector {
    width: 750px;
}

#album-selector #masonr {
    width: 750px;
}

#album-selector .item img {
    margin-bottom: 5px;
}

#album-selector .item img {
    margin-bottom: 5px;
}

#album-selector .item {
    width: 140px;
    padding: 5px;
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    cursor: pointer;
}

#album-selector .item:hover {
    background-color: lightskyblue;
}